extends layout

block content
  .row 
    .col-10
      form(method="GET" action='/users')
        .row
          .col-10
            input(type="text", name = "userFilter" placeholder="Filter").form-control.form-control-md
          .col-2
            button.btn.btn-primary(type='submit') Filter
    .col-2
      a(href="/user/new")
        button(type="button").btn.btn-primary.float-right Add User
  hr
  table.table.table-bordered.table-striped
    tr
      th="First Name"
      th="Last Name"
      th="Email"
      th="Role"
      th="Edit"
      th="Status"
    each user in users
      tr
        td= user.firstName
        td= user.lastName
        td= user.email
        td= user.role
        td
          if user.email == sessionProfile.sessionId || sessionProfile.role == "Admin"
            a(href=`user/${user._id}/edit`)
              i.fas.fa-edit
        td= user.status
